/.idea

# Bootstrap
app/bootstrap*
app/SymfonyRequirements*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
/composer.lock

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
