{% spaceless %}
<ul id="user-menu">
  <li><a href="{{ path('fos_user_security_login') }}">{{ 'Login' | trans }}</a></li>
  <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Register' | trans }}</a></li>
</ul>
{% endspaceless %}