{% if app.session.flashbag.all | length %}
  {% set translation_domain = translation_domain | default('messages') %}
  <div id="flashes">
    {% for key, messages in app.session.flashbag.all %}
      {% for message in messages %}
        <div class="alert alert-{{ key }}">
          {{ message|trans({}, translation_domain) }}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}