knp_gaufrette:
  adapters:
    word_images_adapter:
      local:
        directory: %kernel.root_dir%/../storage/words/images
    word_sounds_adapter:
      local:
        directory: %kernel.root_dir%/../storage/words/sounds

  filesystems:
    word_images_fs:
      adapter:    word_images_adapter
    word_sounds_fs:
      adapter:    word_sounds_adapter

vich_uploader:
  db_driver: orm
  gaufrette: true
  storage: vich_uploader.storage.gaufrette
  mappings:
    word_image:
      uri_prefix: /words/images
      upload_destination: word_images_fs
      namer: rodgermd.vichuploader.namer_md5
    word_sound:
      uri_prefix: /words/sounds
      upload_destination: word_sounds_fs
      namer: rodgermd.vichuploader.namer_md5

liip_imagine:
  driver: imagick
  data_root: %kernel.root_dir%/../storage
  filter_sets:
    word_thumbnail:
      filters:
        thumbnail: { size: [50, 50], mode: outbound }
    word_edit_source:
      filters:
        thumbnail: { size: [530, 250], mode: inset }
    crop_on_upload:
      filters:
        thumbnail: { size: [530, 250], mode: inset }
        crop: { start: [0, 0], size: [100, 100] }
    theme_big:
      filters:
        thumbnail: { size: [190, 190], mode: outbound }
    theme_words_list:
      filters:
        thumbnail: { size: [80, 80], mode: outbound }

