{% extends "::base.html.twig" %}

{% block body %}
  <h2>{{ theme.name }}</h2>
  <ul id="theme-words">
    {% for word in words %}
      <li>{{ 'word' }}</li>
      {% endfor %}
    <li><a href="{{ path('word.new.theme', { slug: theme.slug }) }}">{{ new_word | word_thumbnail }}</a></li>
  </ul>
{% endblock body %}