@import "compass";
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

@include global-reset;

$darkblue: #3126bd;
$lightblue: #5aace1;

body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Ubuntu, Arial, Tahoma, sans-serif;
}

body {
  background-color: #fff;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em
}

h4 {
  font-size: 1.2em;
}

ul.errors {
  padding: 10px;
  color: red;
}

#overall-wrapper {
  width: 1022px;
  margin: 0 auto;
}

#user-menu-container {
  float: right;
  padding: 10px 20px 0 0;
  li {
    color: $lightblue;
    @include inline-block;
    &:not(:last-child)::after {
      content: '|';
      margin: 0 3px;
    }
  }
}

#link-to-home {
  font-family: 'Gochi Hand', cursive;
  font-size: 47px;
  padding: 1px 0 0 20px;
  position: absolute;
  text-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

#primary-menu-holder {
  position: relative;
  height: 42px;
  @include background-image(linear-gradient($lightblue, #8fd8fd));
  #link-to-home {
    float: left;
    display: block;
  }
}

#primary-menu {
  $border_radius: 5px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  a {
    display: block;
  }
  > li {
    @include inline-block;
    margin-top: 42px - 30px;
    > a {
      padding: 7px 20px;
      border-top-left-radius: $border_radius;
      border-top-right-radius: $border_radius;
      font-size: 16px;
      color: #333;
      @include background-image(linear-gradient(#fff, #f3f3f3));
    }
    ul {
      display: none;
      background-color: $darkblue;
      border-bottom-right-radius: $border_radius;
      border-bottom-left-radius: $border_radius;
      padding: 5px;
      min-width: 200px;
      a {
        color: #fff;
        text-align: left;
        padding: 5px 10px;
        border-radius: $border_radius;
        &:hover {
          color: $darkblue;
          @include background-image(linear-gradient(#fff, $lightblue));
        }
      }
    }
    &:hover {
      ul {
        display: block;
        position: absolute;
      }
    }
  }
}

#content-wrapper {
  padding: 20px;
}

