@import "compass";

.translations-target {
  ul {
    margin: 10px 0;
    padding: 0;
    li {
      list-style: none;
      padding: 10px;
      background-color: #f3f3f3;
      &:hover {
        background-color: #ccc;
      }
      .translated-word {
        @include inline-block;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: bold;
        min-width: 100px;
      }
      .translator-service {
        @include inline-block;
        margin-left: 5px;
      }
      .service-google:before {
        content: 'google';
      }
      .service-yandex:before {
        content: 'yandex';
      }
    }
  }
}

.word-form {
  .nav {
    a {
      height: 20px;
    }
  }
  #word-notes {
    .control-label {
      width: 70px;
    }
    .controls {
      margin-left: 80px;
    }
    #word_note {
      width: 435px;
      height: 150px;
      max-height: 300px;
      resize: vertical;
    }
  }

  .crop-container {
    text-align: center;
    img, .jcrop-holder {
      display: block;
      margin: 0 auto 5px;
    }
  }

  .accordion-inner.loading {
    height: 32px;
    background: url('/bundles/sitebase/images/loading32.gif') 50% 50% no-repeat;
  }

  .flickr-images-list {
    li {
      @include inline-block;
      margin: 3px;
    }

    a {
      display: block;
      position: relative;
      img {
        display: block;
        max-width: 70px;
        border: 0;
      }
      &:hover {
        box-shadow: 0 0 2px #333;
      }
    }
  }

}