@import "compass";

.translations-target {
  $blue: #696CE6;
  table {
    margin-bottom: 1em;
    td {
      padding: 5px 3px;
    }
    th {
      padding: 5px;
    }
    td, th {
      border-bottom: 1px #ccc solid;
      vertical-align: middle;
      &.relevancy {
        i {
          @include inline-block;
          width: 20px;
          height: 4px;
          background-color: #f1f1f1;
          position: relative;
        }
        b {
          display: block;
          position: absolute;
          right: 0;
          height: 4px;
          background-color: $blue;
        }
      }
      &.reverse-words {
        color: #999;
      }
    }
    th {
      span {
        font-weight: bold;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  tr:hover {
    .reverse-words {
      color: #333;
    }
  }
}

.word-form {
  .nav {
    a {
      height: 20px;
    }
  }
  #word-notes {
    .control-label {
      width: 70px;
    }
    .controls {
      margin-left: 80px;
    }
    #word_note {
      width: 435px;
      height: 150px;
      max-height: 300px;
      resize: vertical;
    }
  }

  .crop-container {
    text-align: center;
    img, .jcrop-holder {
      display: block;
      margin: 0 auto 5px;
    }
  }

  .accordion-inner.loading {
    height: 32px;
    background: url('/bundles/sitebase/images/loading32.gif') 50% 50% no-repeat;
    .flickr-images-list {
      display: none;
    }
  }

  .flickr-images-list {
    li {
      @include inline-block;
      margin: 3px;
    }

    a {
      display: block;
      position: relative;
      img {
        display: block;
        max-width: 70px;
        border: 0;
      }
      &:hover {
        box-shadow: 0 0 2px #333;
      }
    }
  }

}